.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

*{
	margin: 0;
	padding: 0;
}

nav {
	height: 70px;
	background-color: purple;
	display: flex;
	justify-content: space-between;
	padding: 15px 30px;
	color: #fff;

}
button{
	margin-left:7px;
	font-size: 20px;
	font-weight: 500;
}
