.admin-body-container {
	background-color: aliceblue;
}

.admin-main-container {
	width: 100vw;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.admin-heading {
	padding-top: 20px;
	font-weight: bold;
}

.admin-heading-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.account-management-container {
	border-style: solid;
	border-right: none;
	border-left: none;
	border-width: 2px;
	background-color: white;
	margin-top: 20px;
	margin-right: 10px;
}

.bold-text {
	font-weight: bold;
}

.button-container {
	display: flex;
	justify-content: center;
}

.admin-nav-container {
	width: 200px;
}

.admin-container {
	width: 100%;
}

.title {
	padding-top: 25px;
}
