.admin-main-container {
	width: 100vw;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	background-color: aliceblue;
}

.bold-text {
	font-weight: bold;
}

.button-container {
	display: flex;
	justify-content: center;
}

.admin-nav-container {
	width: 200px;
}

.admin-container {
	width: 100%;
}

.graphs-container {
	display: flex;
	justify-content: center;
}
